<link rel="stylesheet" href="./static/css/stylesModal.css">
<div class="globalBlur">
	<div class="characterModal">
		<div class="modalBox">
			<div class="top">
				<svg height="40" width="40" id="closeButton">
					<line x1="5" y1="5" x2="36" y2 ="36" style="stroke: #FFF; stroke-width: 5; stroke-linecap:round; "/>
					<line x1="5" y1="36" x2="36" y2 ="5" style="stroke: #FFF; stroke-width: 5; stroke-linecap:round; "/>
				</svg>
			</div>
			<div>
				<center>
				<h1>TEST</h1>
				</center>
			</div>
		</div>
	</div>
</div>

<script src="./static/js/characterModal.js"></script>