<div style="text-align:center; width:80%">
	<p class="center" style="font-size: 2em; color:white; margin: 0.3% 0 0.3% 0; text-decoration: underline;">
	Example
	</p>
	<div style="display: flex; flex-direction: row; width: 100%;">
		<div style="width: 50%;">
			<p class="howTo">
				How to read:&nbsp&nbsp  
			</p>
		</div>
		
		<div class="grey" style="float: left;">
			<div class="charName">Paimon</div>
			<img src="./static/portraits/Paimon.png" style="cursor: auto">
			<hr class="divider">
			<div class="patches"> 12 </div>
			<hr class="divider">
			<div class="lastRun"> V1.8 </div>
			<hr class="divider">
			<div class="runs"> 2 </div>
		</div>
		
		<div style="width:50%;">
			<p class="instructions" style="position: relative; top: 2%;">
				-&nbsp <a style="color:white">Character name</a>
			</p>
			<p class="instructions" style="position:relative; top: 48%;">
				-&nbsp <a style="color:white">Versions since last run</a>
			</p>
			<p class="instructions" style="position:relative; top: 52%;">
				-&nbsp <a style="color:white">Version of last run</a>
			</p>
			<p class="instructions" style="position:relative; top: 54%; white-space:normal;">
				-&nbsp <a style="color:white">No. of previous appearances in banners<br>
				(includes release banner)</a>
			</p>
		</div>
	</div>
</div>