<div style="text-align:center;">
	<p class="center" style="font-size: 24px; color:white; margin: 0.3% 0 0.3% 0;">
	Example
	</p>
	<div style="display: flex; flex-direction: row; width: 100%;">
		<div style="width: 50%;">
			<p class="howTo">
				How to read:&nbsp&nbsp  
			</p>
		</div>
		
		<div class="grey" style="float: left;">
			<div class="charName">Eula</div>
			<img src="./static/portraits/Eula.png">
			<hr class="divider">
			<div class="patches"> 12 </div>
			<hr class="divider">
			<div class="lastRun"> V2.8 </div>
			<hr class="divider">
			<div class="runs"> 2 </div>
		</div>
		
		<div style="width:50%;">
			<p class="instructions" style="position: relative; top: 2%;">
				-&nbsp <a style="color:white">Character name</a>
			</p>
			<p class="instructions" style="position:relative; top: 54%;">
				-&nbsp <a style="color:white">Versions since last run</a>
			</p>
			<p class="instructions" style="position:relative; top: 58%;">
				-&nbsp <a style="color:white">Version of last run</a>
			</p>
			<p class="instructions" style="position:relative; top: 60%;">
				-&nbsp <a style="color:white">No. of previous appearances in banners<br>
				(includes release banner)</a>
			</p>
		</div>
	</div>
</div>