<hr style="width: 80%; margin-top: 40px;">
<div class="greyTable">
	{%for char in site.data[full_ver]%}
		{%if char.status == "-"%}
			<div class="grey">
				<div class="charName">{{char.name}}</div>
				<img src="./static/portraits/{{char.name}}.png"></img>
				<hr class="divider">
				<div class="patches">{{char.patches}}</div>
				<hr class="divider">
				<div class="lastRun">{%unless char.version == "-"%}V{%endunless%}{{char.version}}</div>
				<hr class="divider">
				<div class="lastRun">{{char.runs}}</div>
			</div>
		{%endif%}
	{%endfor%}
</div>