/*@font-face{
	font-family: 'hywen';
	src: local('HYWenHei 85W');
	/*src: local('./static/fonts/zh-cn.ttf');*/
/*}*/

::-webkit-scrollbar{
	display:none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

/*.center{
	position: relative;
	left:50%;
	transform: translatex(-50%);
}*/

body{
	background-color: #333F50;
	font-weight: 600;
	font-family: helvetica;
}

.grey{
	border: 3px solid black;
	background-image: linear-gradient(#c9c9c9, #a8a8a8, #6f6f6f);
	width: 178px;
	min-height: 300px;
}
.charName{
	max-width: 178px;
	text-align:center;
	height: 36px;
	padding-top: 5px;
	font-size: 30px;
	overflow: hidden;
	white-space: normal;
	font-weight: 700;
	font-family: verdana;
	white-space: nowrap;
}

img{
	cursor: pointer;
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 178px;
	height: 178px;
	padding:0px;
	position: relative;
	left:50%;
	transform: translatex(-50%);
}

.divider{
	border-color: black;
	border-style: inset;
	border-width: 1px;
	display:block;
	height:0px;
	width: 99.2%;
	margin:0px;
}

.patches{
	text-align: center;
	font-size: 48px;
	color: white;
}

.lastRun{
	text-align: center;
	font-size: 35px;
	color: white;
}

.runs{
	text-align: center;
	font-size: 33px;
	color: white;
}

.howTo{
	text-align: right;
	margin: 0%;
	position: relative;
	top: 50%;
	transform: translatey(-50%);
	font-size: 30px;
	color: white;
}

.instructions{
	display:flex;
	flex-direction: row;
	margin:0%;
	font-size: 30px;
	color: red;
	text-align:left;
}

.goldenRow{
	justify-items: center;
	justify-content: center;
	position: relative;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	column-gap: 3.5em;
	row-gap: 2em;
	width: 75%;
	top: 10px;
	max-width: 1500px;
}

.golden{
	border: 3px solid black;
	background-image: linear-gradient(#FFD966, #FFC208, #AB8100);
	width: 178px;
	min-height: 300px;
}

.remarks{
	text-align: center;
	font-size: 40px;
	color: white;
}

.version{
	width: 100%;
	position: relative;
	top: 20px;
	text-align: center;
	font-size: 40px;
	color: white;
}

.greyTable{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	position: relative;
	top: 20px;
	width: 75%;
	max-width: 1500px;
	column-gap: 3.5em;
	row-gap: 2em;
	padding-bottom: 5em;
}

.wrapper{
	//float: right;
	top: -100px;
	position: relative;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	align-items: center;
	align-content: space-around;
	justify-content: center;
	left:50%;
	transform: translatex(-50%);
	width:100%;
}

.tableLabel{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: white;
	text-align:center;
	width:fit-content;
	margin-top: 30px;
	margin-bottom: 10px;
	/*word-break: break-word;*/
	/*text-decoration: underline;*/
}

.chronicleLabel{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6px;
	margin-bottom: 10px;
	font-size:36px;
	color:white;
	text-align: center;
	text-decoration: underline;
	width: fit-content;
	
}

.backArrow{
	height: 15vh;
	width: 15vw;
	max-width: 100px;
	max-height: 100px;
	
	position: sticky;
	top: 25px;
	right: 30px;
	float: right;
	z-index: 1;
}

.backArrowPng{
	height: 15vh;
	width: 15vw;
	max-width: 100px;
	max-height: 100px;
}

@media screen and (max-width: 800px){
	.backArrow{
		height: 15vw;
		width: 15vw;
		max-width: 150px;
		max-height: 150px;
		
		position: sticky;
		top: 25px;
		right: 30px;
		float: right;
		z-index: 1;
	}

	.backArrowPng{
		height: 15vw;
		width: 15vw;
		max-width: 150px;
		max-height: 150px;
	}
}