<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Genshin Impact - Versions since last run of limited 5 star characters</title>
	<meta name="description" content="View real-time data for how long it has been since limited 5-star Genshin Impact character has appeared in a banner. Press on a character portrait to see detailed info about their run history, such as the amount of times they've ran, which versions, and with who.">
    <link rel="stylesheet" href="./static/css/stylesMain.css">
	<link rel="shortcut icon" type="image/png" href="./favicon-32x32.png">
  </head>
  <body>
    <section>
		{{ content }}
		{% include characterModal.html %}
		{% include footer.html %}
		{% include backToTopInclude.html %}
	</section>	
	<script src="./static/js/timeFunctions.js"></script>
  </body>
</html>